.border-2 {
  border-bottom: 2px solid lightgray;
}

.Thickborder {
  border-bottom: 3px solid black;
}

.colour {
  color: #98ccfd;
}

.card {
  &:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px lightgrey !important;
  }
}