<div class="container mt-5 mb-5 pb-3 border-2">
  <h3 class="text-center">- Job <span class="Thickborder pb-2 pr-1 pl-2"> Categ</span>ories - </h3>

  <div class="row mt-5">
    <div class="col-md-3 p-2 col-12">
      <div class="card shadow bg-white m-3 pb-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">TELLECALLER/BPO </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white m-3 pb-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">DELIVERY BOY</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white pb-3 m-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">FIELD SELL</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ">
      <div class="card shadow bg-white m-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">RECEPTIONS/FRONT OFFICE</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 p-2 col-12">
      <div class="card shadow bg-white m-3 pb-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">PEON/OFFICE BOY </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white m-3 pb-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">COUNTER CELLS/RETAIL</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white pb-3 m-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">FINANCE/ACCOUNT</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ">
      <div class="card shadow bg-white m-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">COMPUTER/DATA ENETRY</p>
        </div>
      </div>
    </div>
  </div>



</div>