@import "../../assets/variables.scss";

.navbar {

  //add color to new job post button
  .addcolor {
    background-color: $blue-txt;
    color: white;

    &:hover {
      background-color: $blue-hover-text;
    }
  }

  .navbar-brand {
    color: $blue-txt;
  }

  .nav-link {
    color: $blue-link;
  }

  .postjob-wrap {
    display: flex;
    flex-grow: 10;
    justify-content: flex-end;
  }
}


.modal-content {
  width: 550px;

}

select {
  width: 243px !important;
  border-radius: 3px;
  padding: 5px;


}