.navbar {

  //add color to new job post button
  .addcolor {
    background-color: #4859b8;
    color: white;

    &:hover {
      background-color: #33418a;
    }
  }

  .navbar-brand {
    color: #4859b8;
  }

  .nav-link {
    color: #3f77cf;
  }

  .postjob-wrap {
    display: flex;
    flex-grow: 10;
    justify-content: flex-end;
  }
}