<div class=" footer-css mt-5">
  <p class="text-center">
    <a href="#">About</a>
    <a href="#">Careers</a>
    <a href="#">Culture</a>
    <a href="#">Contact Us</a>
    <a href="#">Interview Tips</a>
    <a href="#">Sitemap</a>
    <a href="#">Privacy</a>
    <a href="#">Refund Policy</a>
    <a href="#">Terms</a>
    <span><i class="fa fa-facebook-square"></i></span>
    <span><i class="fa fa-linkedin-square"></i></span>
    <span><i class="fa fa-twitter"></i></span>
    <span><i class="fa fa-youtube-play"></i></span>
    <span><i class="fa fa-instagram"></i></span>
  </p>
  <p class=" center  d-flex justify-content-center">&copy;{{d|date:"y"}} RS WorkIndia Solutions Private
    Limited. All Rights Reserved.</p>
</div>