<div class="container mt-5 mb-5 pb-3 border-2">
  <h3 class="text-center">- How <span class="Thickborder pb-1 pr-1 pl-2"> We </span> Work -</h3>

  <div class="row mt-5">
    <div class="col-md-3 p-2 col-12">
      <div class="card shadow bg-white m-3 pb-5 mh-100">
        <img class="card-img-top w-50 mx-auto pt-2" src="../../assets/images/step1.png" alt="Card image">
        <div class="card-body">
          <h6 class="card-title text-center">POST<span class="Thickborder pb-1"> YOUR </span> JOB</h6>
          <p class="card-text pt-3 text-center">Fill a simple form to tell us your requirements.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white m-3">
        <img class="card-img-top w-50 mx-auto pt-2" src="../../assets/images/step1a.png" alt="Card image">
        <div class="card-body">
          <h6 class="card-title text-center">WE ADVERTISE YOUR<p class="text-center"><span class="Thickborder">
                JOB</span></p>
          </h6>
          <p class="card-text text-center">We publish your job to candidates on WorkIndia App that match your profile.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white m-3">
        <img class="card-img-top w-50 mx-auto pt-2" src="../../assets/images/step2.png" alt="Card image">
        <div class="card-body">
          <h6 class="card-title text-center">CANDIDATES CALL<p class="text-center"><span class="Thickborder"> YOU
              </span></p>
          </h6>
          <p class="card-text text-center">Active job seekers who are interested in your job call you on your phone for
            interview.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white  m-3">
        <img class="card-img-top w-50 mx-auto pt-2" src="../../assets/images/step3.png" alt="Card image">
        <div class="card-body">
          <h6 class="card-title text-center">TAKE INTERVIEW &
            <p class="text-center"><span class="Thickborder pb-1"> HIRE
              </span></p>
          </h6>
          <p class="card-text text-center">From the calls you get, invite relevant people for interview & hire the best
            ones.</p>
        </div>
      </div>
    </div>
  </div>
</div>