<div class="shadow bg-white mt-5 p-31">
  <div class="container row">
    <div class="col-4">
      <div class="card text-center border-0">
        <i class="card-img-top"> </i>
        <div class="card-body">
          <h4 class="card-title">10M+</h4>
          <p class="card-text">JOB SEEKERS</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-center border-0">
        <i class="card-img-top"> </i>
        <div class="card-body">
          <h4 class="card-title">10M+</h4>
          <p class="card-text">JOB SEEKERS</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-center border-0">
        <i class="card-img-top"> </i>
        <div class="card-body">
          <h4 class="card-title">10M+</h4>
          <p class="card-text">JOB SEEKERS</p>
        </div>
      </div>
    </div>
  </div>
</div>