<div class="shadow bg-white mt-5 pt-4">
  <div class="  d-flex justify-content-center">
    <div>
      <div class="card text-center border-0 ml-md-3">
        <i class="card-img-top fa fa-users fa-3x colour"> </i>
        <div class="card-body">
          <h4 class="card-title">10M+</h4>
          <p class="card-text">JOB SEEKERS</p>
        </div>
      </div>
    </div>
    <div>
      <div class="card text-center border-0 ml-md-3">
        <i class="card-img-top fa fa-phone fa-3x colour"> </i>
        <div class="card-body">
          <h4 class="card-title">1.5M+</h4>
          <p class="card-text">CANDIDATE CALLS MONTHLY</p>
        </div>
      </div>
    </div>
    <div>
      <div class="card text-center border-0">
        <i class="card-img-top fa fa-building-o colour fa-3x"> </i>
        <div class="card-body">
          <h4 class="card-title">300K+</h4>
          <p class="card-text">JOBS POSTED MONTHLY</p>
        </div>
      </div>
    </div>
  </div>
</div>