@import "../../../assets/css/variables";
.navbar-dark {
  .navbar-brand {
    color: $link-colors;
  }
  .navbar-nav {
    .nav-link {
      color: $link-colors;
    }
  }

  .navbar-toggler-icon {
    background-color: #000;
  }

  .postjob-wrap {
    display: flex;
    flex-grow: 15;
    justify-content: flex-end;
  }
}
