<div class="mt-5 container-md">

  <h1 class="h1Color text-center">WorkIndia</h1>
  <h1 class="h1Color text-center mb-5">India's Largest Job Portal</h1>
  <div class="row">
    <div class="col-6 ">
      <div class="card h-100 text-center shadow bg-white">
        <div class="card-body">
          <h5 class="card-title bg-white border-0">I am Employer</h5>
          <p class="card-text">Hire staff with ease</p>
        </div>
        <div class="card-footer bg-white border-0">
          <a href="#" class="btn btn-primary mw-25 d-flex justify-content-center d-md-table mx-auto btn-sm">Hire
            now</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card mh-50 text-center shadow bg-white">
        <div class="card-body">
          <h5 class="card-title border-0 bg-white">I am Candidate</h5>
          <p class="card-text">1,09,000 job openings all over India</p>
        </div>
        <div class="card-footer border-0 bg-white">
          <a href="#" class="btn btn-primary mw-25 d-flex justify-content-center d-md-table mx-auto btn-sm">Get job
            now</a>
        </div>
      </div>
    </div>
  </div>
</div>