<div class="text-center mt-2">
  <button id="btn1" (click)="logout()" class="btn btn-primary  m-1 px-5" routerLink="/login">log out</button>
  <button class="btn btn-primary  m-1 px-5" routerLink="/postnewjob">Post new Job</button>
  <button class="btn btn-primary m-1 px-5" routerLink="/hirenow">Hire Now</button>
</div>
<div class="d-flex justify-content-center mt-2">
  <form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">
    <div class="d-flex justify-content-between">
      <div class="form-group m-2 text-left">
        <label for="Company name">Company Name</label>
        <input type="text" class="form-control" required maxlength="25" [(ngModel)]="companyName" name="companyName"
          #pickedName="ngModel">
        <div *ngIf="!pickedName.valid && pickedName.touched" class="text-danger">
          Company name is required!
        </div>
      </div>

      <div class="form-group text-left m-2">
        <label for="Company name">Company Head Office</label>
        <input type="text" class="form-control" [(ngModel)]="companyHeadOffice" name="companyHeadOffice">
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="form-group text-left m-2">
        <div> <label for=" opening">State</label></div>
        <div class="custSelect">
          <select #s (change)="selected(s.value)" required [(ngModel)]="state" name="state" #userstate="ngModel">
            <option class="menu" *ngFor="let s of states" [ngValue]="s.name">{{s.name}}</option>
          </select>
          <div *ngIf="!userstate.valid && userstate.touched" class="text-danger">
            State is required!
          </div>
        </div>
      </div>
      <div class="form-group text-left m-2">
        <div> <label for=" city">City</label></div>
        <div>
          <select required [(ngModel)]="selectedCity" name="selectedCity" #userCity="ngModel">
            <option *ngFor="let c of cities" [ngValue]="c.name">{{c.name}}</option>
          </select>
          <div *ngIf="!userCity.valid && userCity.touched" class="text-danger">
            City is required!
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="form-group text-left m-2">
        <label for="email">Email id</label>
        <input type="email" class="form-control" required email [(ngModel)]="email" name="email" #userEmail="ngModel">
        <div *ngIf="!userEmail.valid && userEmail.touched" class="text-danger">
          Email is required!
        </div>
      </div>
      <div class="form-group text-left m-2">
        <label for="contact">Contact No</label>
        <input type="input" class="form-control" required [(ngModel)]="contact" name="contact" #userContact="ngModel"
          maxlength="10" minlength="10">
        <div *ngIf="!userContact.valid && userContact.touched" class="text-danger">
          Contact is required!
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary center px-5" [disabled]="!newUserForm.form.valid">Update</button>
    </div>
  </form>
  <div *ngIf="val">
    <alert type="success">
      <strong>Well done!</strong> Data is successfully saved.
    </alert>
  </div>
</div>