$blue-txt:#4859b8; //navbar brand,text
$blue-link:#3f77cf; //navbar link
$blue-hover-text:#33418a; //
$title-txt:#585858;
$card-color:#98ccfd; //card-icon
$black-txt:black; //border
$light-gray-txt:lightgray; //border