<!-- section-1 -->

<div class="mt-5 container-md">

  <h1 class="h1Color text-center">WorkIndia</h1>
  <h1 class="h1Color text-center mb-5">India's Largest Job Portal</h1>
  <div class="row">
    <div class="col-6 ">
      <div class="card h-100 text-center shadow bg-white">
        <div class="card-body">
          <h5 class="card-title bg-white border-0">I am Employer</h5>
          <p class="card-text">Hire staff with ease</p>
        </div>
        <div class="card-footer bg-white border-0">
          <button (click)="getJob()"
            class="btn btn-primary mw-25 d-flex justify-content-center d-md-table mx-auto btn-sm">Hire
            now</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card mh-50 text-center shadow bg-white">
        <div class="card-body">
          <h5 class="card-title border-0 bg-white">I am Candidate</h5>
          <p class="card-text">1,09,000 job openings all over India</p>
        </div>
        <div class="card-footer border-0 bg-white">
          <button class="btn btn-primary mw-25 d-flex justify-content-center d-md-table mx-auto btn-sm"
            (click)="getJob()">Get job
            now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section-2 -->
<div class="shadow bg-white mt-5 pt-4">
  <div class="  d-flex justify-content-center">
    <div>
      <div class="card text-center border-0 ml-md-3">
        <i class="card-img-top fa fa-users fa-3x colour"> </i>
        <div class="card-body">
          <h4 class="card-title">10M+</h4>
          <p class="card-text">JOB SEEKERS</p>
        </div>
      </div>
    </div>
    <div>
      <div class="card text-center border-0 ml-md-3">
        <i class="card-img-top fa fa-phone fa-3x colour"> </i>
        <div class="card-body">
          <h4 class="card-title">1.5M+</h4>
          <p class="card-text">CANDIDATE CALLS MONTHLY</p>
        </div>
      </div>
    </div>
    <div>
      <div class="card text-center border-0">
        <i class="card-img-top fa fa-building-o colour fa-3x"> </i>
        <div class="card-body">
          <h4 class="card-title">300K+</h4>
          <p class="card-text">JOBS POSTED MONTHLY</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section-3 -->
<div class="container mt-5 mb-5 pb-3 border-2">
  <h3 class="text-center">- How <span class="Thickborder pb-1 pr-1 pl-2"> We </span> Work -</h3>

  <div class="row mt-5 ">
    <div class="col-md-3 p-2 col-12">
      <div class="card shadow bg-white m-3 pb-5 mh-100">
        <img class="card-img-top w-50 mx-auto pt-2" src="../../assets/images/step1.png" alt="Card image">
        <div class="card-body">
          <h6 class="card-title text-center">POST<span class="Thickborder pb-1"> YOUR </span> JOB</h6>
          <p class="card-text pt-3 text-center">Fill a simple form to tell us your requirements.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white m-3">
        <img class="card-img-top w-50 mx-auto pt-2" src="../../assets/images/step1a.png" alt="Card image">
        <div class="card-body">
          <h6 class="card-title text-center">WE ADVERTISE YOUR<p class="text-center"><span class="Thickborder">
                JOB</span></p>
          </h6>
          <p class="card-text text-center">We publish your job to candidates on WorkIndia App that match your profile.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white m-3">
        <img class="card-img-top w-50 mx-auto pt-2" src="../../assets/images/step2.png" alt="Card image">
        <div class="card-body">
          <h6 class="card-title text-center">CANDIDATES CALL<p class="text-center"><span class="Thickborder"> YOU
              </span></p>
          </h6>
          <p class="card-text text-center">Active job seekers who are interested in your job call you on your phone for
            interview.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white  m-3">
        <img class="card-img-top w-50 mx-auto pt-2" src="../../assets/images/step3.png" alt="Card image">
        <div class="card-body">
          <h6 class="card-title text-center">TAKE INTERVIEW &
            <p class="text-center"><span class="Thickborder pb-1"> HIRE
              </span></p>
          </h6>
          <p class="card-text text-center">From the calls you get, invite relevant people for interview & hire the best
            ones.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section-4 -->
<div class="container mt-5 mb-5 pb-3 border-2">
  <h3 class="text-center">- Job <span class="Thickborder pb-2 pr-1 pl-2"> Categ</span>ories - </h3>

  <div class="row mt-5">
    <div class="col-md-3 p-2 col-12">
      <div class="card shadow bg-white m-3 pb-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">TELLECALLER/BPO </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white m-3 pb-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">DELIVERY BOY</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white pb-3 m-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">FIELD SELL</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ">
      <div class="card shadow bg-white m-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">RECEPTIONS/FRONT OFFICE</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 p-2 col-12">
      <div class="card shadow bg-white m-3 pb-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">PEON/OFFICE BOY </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white m-3 pb-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">COUNTER CELLS/RETAIL</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 p-2">
      <div class="card shadow bg-white pb-3 m-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">FINANCE/ACCOUNT</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 ">
      <div class="card shadow bg-white m-3">
        <div class="card-body">
          <p class="text-center"><i class="card-text colour fa fa-headphones fa-5x"></i></p>
          <p class="card-text text-center">COMPUTER/DATA ENETRY</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section-5 -->

<div class="container mt-5 mb-5 pb-3">
  <h3 class="text-center">- What Our <span class="Thickborder pb-2 pr-1 pl-2 "> Custo</span>mers Say-</h3>
  <div class=" mt-2">
    <carousel class="carousel_container">
      <slide class="custom_carousel">
        <div class="text-center">
          <div class="card shadow bg-white">
            <div class="card-body">
              <h4>Arun Karmokar</h4>
              <h6>Proactive Financial Services</h6>
              <p>It was definitely very very helpful and really great to have this site that makes it easier to hire
                candidates. Plus support given to the postings of job offers is really kind. Anytime WorkIndia is much
                better than any other app. Great to have you guys.</p>
            </div>
          </div>
        </div>
      </slide>
      <slide class="custom_carousel">
        <div class="text-center">
          <div class="card shadow bg-white ">
            <div class="card-body">
              <h4>Irene</h4>
              <h6>Logicash Solutions Pvt Ltd</h6>
              <p>WorkIndia has been a great help in fulfilling the recruitment needs of my organization. The WorkIndia
                app
                is a perfect example of latest technology in action, designed simplistically, to attract candidates
                catering
                to my organizations needs right from age / location / education to even other skills like Driving,
                Computer
                knowledge, etc.</p>
            </div>
          </div>
        </div>
      </slide>
      <slide class="custom_carousel">
        <div class="text-center">
          <div class="card shadow bg-white">
            <div class="card-body">
              <h4>Bharti Manjrekar</h4>
              <h6>CEO, S and S Technologies</h6>
              <p>The experience which we, at S and S Technologies have with WorkIndia is really great. We always get
                potential candidates for our office in a very short time after posting ads on WorkIndia. And also the
                support which WorkIndia staff gives is appreciable. You people are doing great job. Thanks for all the
                support.</p>
            </div>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</div>